<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VARIANTS</title>
</head>
<body>
    <h1>VARIANTS</h1>
    <ul>
        <% variants.forEach(function(variant) { %>
            <li>Size: <%= variant.size %>, Colour: <%= variant.color %> , material: <%= variant.material %></li>
        <% });%>
    </ul>
</body>
</html>